<nav-bar></nav-bar>
<div class="question-container">
  <div class="question-title">
    <div class="header" layout="row">
      <div flex="70" class="title-box" layout="column">
        <md-button class="question-ask md-fab md-mini md-ink-ripple md-raised" alt="question-ask" aria-label="question-ask"><md-icon md-svg-src="../assets/images/icons/question-ask.svg"></md-icon></md-button>
        <div flex class="title" ng-bind="vm.question.title"></div>
        <div flex class="details" layout="row">
          <div flex="15" class="author" ng-bind="vm.question.author.username">作者</div>
          <div flex="20" class="ask-time">
            <span ng-bind="vm.question.createdTime"></span>提问
          </div>
        </div>
      </div>
      <div flex="30" class="action-box" layout="column">
        <div flex layout="row">
          <md-button ng-if="!vm.isFollowing" ng-click="vm.followQuestion()" class="md-raised md-accent md-mini" flex>关注</md-button>
          <md-button ng-if="vm.isFollowing" ng-click="vm.unfollowQuestion()" class="md-raised md-accent md-mini" flex>取消关注</md-button>
          <label class="action-detail" flex><strong ng-bind="vm.question.follow_count">3</strong>&nbsp;&nbsp;关注</label>
        </div>
        <div flex layout="row">
          <md-button class="md-raised md-primary" flex ng-click="vm.addAnswer()">
            回答
          </md-button>
          <label class="action-detail" flex>
            <strong ng-bind="vm.question.answer_count">0</strong>&nbsp;&nbsp;回答
          </label>
        </div>
      </div>
    </div>
  </div>
  <section class="question-content" data-qid="" layout="column">
    <div class="attitude-box" layout="column">
      <a ng-if="!vm.question.attitude  || vm.question.attitude.type < 0" ng-click="vm.setQuestionAttitude(1, vm.question.author_id)" class="up-attitude" flex="60">
      </a>
      <a ng-if="vm.question.attitude  && vm.question.attitude.type > 0" class="up-attitude-already" flex="60">
      </a>
      <label style="height: 40%;" ng-bind="vm.question.support_count">0</label>
      <a ng-if="!vm.question.attitude  || vm.question.attitude.type > 0" ng-click="vm.setQuestionAttitude(-1, vm.question.author_id)" class="down-attitude" flex="40">
      </a>
      <a ng-if="vm.question.attitude  && vm.question.attitude.type < 0" class="down-attitude-already" flex="40">
      </a>
    </div>
    <p flex class="question" ng-bind-html="vm.question.contentHtml">
    </p>
    <strong flex><span ng-bind="vm.question.answer_count"></span>个回答</strong>
  </section>
  <div class="answer-list" layout="column" ng-repeat="item in vm.answerList track by $index">
    <div class="answer-box">
      <div class="attitude-box" layout="column">
        <a ng-if="!item.attitude  || item.attitude.type < 0" ng-click="vm.setAnswerAttitude(1 , $index)" class="up-attitude" flex="60">
        </a>
        <a ng-if="item.attitude  && item.attitude.type > 0" class="up-attitude-already" flex="60">
        </a>
        <label style="height: 40%;" ng-bind="item.answer.support_count">0</label>
        <a ng-if="!item.attitude  || item.attitude.type > 0" ng-click="vm.setAnswerAttitude(-1, $index)" class="down-attitude" flex="40">
        </a>
        <a ng-if="item.attitude  && item.attitude.type < 0" class="down-attitude-already" flex="40">
        </a>
      </div>
      <section class="answer-content" flex ng-bind-html="item.answer.contentHtml">
      </section>
      <div class="answer-detail" flex layout="row">
        <div class="answer-action" flex="20">
          <span ng-bind="vm.postedTime(item.answer.created_time)"></span>&nbsp;&nbsp;
          <a href="/#/answer-editor/{{vm.question._id}}" ng-if="vm.checkAuthor(item.answer.author_id)">
            编辑&nbsp;&nbsp;
          </a>
          <a href="javascript:;" ng-click="vm.openReplyBox(item.answer._id, $index)">评论</a>
          <a ng-if="!item.collected" ng-click="vm.addCollection(item.answer._id)" href="javascript:;">收藏</a>
          <a ng-if="item.collected" href="javascript:;">已收藏</a>
        </div>
        <span flex></span>
        <div flex="20" class="answer-author">
          <img class="author-avatar" ng-src="../assets/images/user/{{item.author.avatar}}" alt=""/>
          <span class="author-username" ng-bind-html="item.author.username"></span>
        </div>
      </div>
      <div class="reply-box" ng-if="vm.replyList[$index]">
        <ul>
          <li ng-repeat="data in item.replys">
            <span ng-bind="data.reply.content"></span>
            <label class="reply-user">评论者：<span ng-bind="data.user.username"></span></label>
          </li>
          <textarea name="reply" ng-model="vm.replyContentList[$index]"></textarea>
          <button ng-click="vm.addReply(item.answer._id, $index)">添加评论</button>
        </ul>
      </div>
    </div>
  </div>
</div>
