.question-container {
  .question-title{
    background-color:#F6F6F6;
    padding:10px 0;
    .header {
      width: 75%;
      margin:0 auto;
      .question-ask {
        position: absolute;
        margin-left: -60px;
        margin-top: -2px;
      }
      .title{
        font-weight: bold;
        font-size: 150%;
      }
      .action-box {
        .md-button {
          height: 30px;
          max-width: 60px;
        }
        .action-detail {
          height: 30px;
          line-height:30px;
          font-size: 14px;
          margin:10px;
        }
      }
    }
  }
  .question-content {
    width: 75%;
    margin: 10px auto;
    padding-bottom:15px;
    border-bottom:2px solid #dcdcdc;
  }
  .answer-list {
  	width: 75%;
  	margin:10px auto;
  	.answer-box {
  		padding:15px 0 30px;
  		border-bottom:1px solid #dcdcdc;
        .answer-detail {
          padding-top:20px;
          .answer-author {
            text-align: right;
            .author-avatar {
              width: 32px;
              height: 32px;
              border-radius: 16px;
              position:absolute;
              margin-left: -40px;
              margin-top: -5px;
            }
          }
        }
  	}
  }
}