.question-container {
  .question-title{
    background-color:#F6F6F6;
    padding:10px 0;
    .header {
      width: 75%;
      margin:0 auto;
      .question-ask {
        position: absolute;
        margin-left: -60px;
        margin-top: -2px;
        z-index: 1;
      }
      .title{
        font-weight: bold;
        font-size: 150%;
      }
      .details {
        padding-top: 5px;
      }
      .action-box {
        .md-button {
          height: 30px;
          max-width: 60px;
        }
        .action-detail {
          height: 30px;
          line-height:30px;
          font-size: 14px;
          margin:10px;
        }
      }
    }
  }
  .question-content {
    width: 75%;
    margin: 10px auto;
    padding-bottom:15px;
    border-bottom:2px solid #dcdcdc;
  }
  .answer-list {
  	width: 75%;
  	margin:10px auto;
  	.answer-box {
  		padding:15px 0 30px;
  		border-bottom:1px solid #dcdcdc;
        .answer-detail {
          padding-top:20px;
          .answer-author {
            text-align: right;
            .author-avatar {
              width: 32px;
              height: 32px;
              border-radius: 16px;
              position:absolute;
              margin-left: -40px;
              margin-top: -5px;
            }
          }
        }
  	}
  }

  .attitude-box {
    background:#dcdcdc;
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 40px;
    margin-left: -50px;
    margin-top: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;

    &:hover {
      background: rgba(255, 200, 102, 0.32);
    }
    .up-attitude {
      background: url(../assets/images/icons/up-grey.svg) no-repeat 10px;
      display: inline-block;
      background-size: 20px 20px;
      width: 100%;
      height: 30%;
      &:hover {
        background: url(../assets/images/icons/up-blue.svg) no-repeat 10px;
        background-size: 20px 20px;
        cursor: pointer;
      }
    }
    .down-attitude {
      background: url(../assets/images/icons/down-grey.svg) no-repeat 10px;
      display: inline-block;
      background-size: 20px 20px;
      width: 100%;
      height: 30%;
      &:hover {
        background: url(../assets/images/icons/down-blue.svg) no-repeat 10px;
        background-size: 20px 20px;
        cursor: pointer;
      }
    }
    .up-attitude-already {
      background: url(../assets/images/icons/up-blue.svg) no-repeat 10px;
      display: inline-block;
      background-size: 20px 20px;
      width: 100%;
      height: 30%;
    }
    .down-attitude-already {
      background: url(../assets/images/icons/down-blue.svg) no-repeat 10px;
      display: inline-block;
      background-size: 20px 20px;
      width: 100%;
      height: 30%;
    }
  }
}