<md-toolbar class="toolbar-container">
  <div class="md-toolbar-tools">
    <h1>
            <span>WAKA</span>
        </h1>
    <span flex></span>
    <md-input-container flex="20" class="search-bar">
      <md-icon md-svg-src="../assets/images/icons/ic_search_white_24px.svg"></md-icon>
      <label></label>
      <input type="text" style="border-color:white;">
    </md-input-container>
    <a href="/#/home-page" md-button>
            首页
        </a>
    <a href="" md-button>
            发现
        </a>
    <a href="" md-button>
            话题分类
        </a>
    <md-button class="md-raised" aria-label="Ask">
      提问
    </md-button>
    <span flex="10"></span>
    <md-fab-speed-dial md-direction="down" md-open="vm.isOpen" class="md-scale md-fab-top-right avatar-box" ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-accent">
          <md-icon aria-label="menu"><img class="avatar" src="{{vm.avatar}}" alt=""/></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions class="menu-action">
        <div ng-repeat="item in vm.items" class="menu-item">
          <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="vm.action(item.action)">
            <md-tooltip md-direction="{{item.direction}}" md-visible="vm.tooltipVisible" md-autohide="false">
              {{item.name}}
            </md-tooltip>
            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
          </md-button>
        </div>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</md-toolbar>
