<nav-bar></nav-bar>
<div class="user-setting-container" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="个人资料">
        <md-content class="md-padding info-setting" layout="row">
          <div flex="50" flex-offset="25" class="info-box">
            <md-card class="md-whiteframe-5dp">
              <md-card-title>
                <md-card-title-text layout="column">
                  <md-input-container>
                    <label>用户名</label>
                    <input type="text" ng-model="vm.username"/>
                  </md-input-container>
                  <md-input-container>
                    <label>签名</label>
                    <input type="text" ng-model="vm.bio"/>
                  </md-input-container>
                  <md-input-container>
                    <label>个人简介</label>
                    <textarea ng-model="vm.description" name="description" id="description" cols="30" rows="10"></textarea>
                  </md-input-container>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <span ng-bind="vm.savingInfoMes" class="tip-message"></span>
                <md-progress-circular ng-if="vm.savingInfo" md-mode="indeterminate"></md-progress-circular>
                <md-button class="md-raised md-primary" ng-click="vm.updateInfo()">保存</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="密码修改">
        <md-content class="md-padding password-setting" layout="row">
          <div flex="40" flex-offset="30" class="password-box">
            <md-card class="md-whiteframe-5dp">
              <md-card-title>
                <md-card-title-text layout="column">
                  <md-input-container>
                    <label>旧密码</label>
                    <input type="password" ng-model="vm.oldPassword"/>
                  </md-input-container>
                  <md-input-container>
                    <label>新密码</label>
                    <input type="password" ng-model="vm.newPassword"/>
                  </md-input-container>
                  <md-input-container>
                    <label>确认密码</label>
                    <input type="password" ng-model="vm.newPassword2"/>
                  </md-input-container>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <span ng-bind="vm.savingPasswordMes" class="tip-message"></span>
                <md-progress-circular ng-if="vm.savingPassword" md-mode="indeterminate"></md-progress-circular>
                <md-button class="md-raised md-primary" ng-click="vm.updatePassword()">保存</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="修改头像">
        <md-content layout="row" class="avatar-box">
          <div flex="20" flex-offset="20">
            <md-card class="md-whiteframe-5dp" layout="column">
              <div flex class="preview-title"><h2>头像预览</h2></div>
              <div layout="row" class="preview-box">
                <img class="preview-img" ng-src="{{vm.croppedDataUrl}}" alt=""/>
              </div>
            </md-card>
          </div>
          <div flex="40">
            <md-card class="md-whiteframe-5dp" layout="column">
              <div class="crop-image" ngf-drop ng-model="vm.picFile" ngf-pattern="image/*">
                <img-crop image="vm.picFile  | ngfDataUrl" result-image="vm.croppedDataUrl" ng-init="vm.croppedDataUrl=''">
                </img-crop>
              </div>
              <md-progress-linear md-mode="indeterminate" ng-if="vm.savingAvatar">
              </md-progress-linear>
              <md-card-actions flex="25" layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-model="vm.picFile" ngf-select accept="image/*">上传头像</md-button>
                <md-button class="md-raised md-primary" ng-click="vm.upload(vm.croppedDataUrl)">保存</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
